*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
   color: inherit;
   text-decoration: none;
}

html, body {
   height: 100%;
}

html {
   display: none;
}

body {
   background-color: #a89b86; /*#c4b79b*/
   margin-left: 0;
   margin-right: 0;
   margin-top: 0;
}

.treeblock {
   background: url(../images/background.svg) no-repeat;
   background-size: auto 100%;
}

.header {
   text-align: left;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   margin: 0 14% 5px 14%;
   padding-top: 8px;
   border-bottom: 1px solid #000;
}

.headerlogo {
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
   width: 60%;
   text-align: left;
   padding-right: 30px;
}

.headerinfo {
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   width: 40%;
   text-align: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   font-family: 'Roboto', Helvetica;
   font-size: 1.1vw;
   padding: 0 0 10px 0;
}

.headercontact {
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
   margin: 0;
   border-right: 1px solid #000;
}

.headeraddress {
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
}

.navbarwrap {
   padding: 0 14% 0 14%;
   width: 100%;
   z-index: 1000;
}

.navbar {
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   font-family: 'Roboto Slab', Helvetica;
   font-size: 1.2vw;
   -webkit-transition: font-size 200ms ease;
   -o-transition: font-size 200ms ease;
   transition: font-size 200ms ease;
   background-color: #c4b79b;
   -webkit-box-shadow: 0px 2px 8px rgba(0,0,0,.5);
           box-shadow: 0px 2px 8px rgba(0,0,0,.5);
}

.navbarfill {
   width: 100%;
   display: none;
}

.navbar .navlinks {
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
   -ms-flex-preferred-size: 0;
       flex-basis: 0;
   margin-right: 1px;
   background-color: rgb(145, 123, 114);
   min-height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-transition: background-color .3s ease;
   -o-transition: background-color .3s ease;
   transition: background-color .3s ease;
   cursor: pointer;
   outline: none;
}

.navbar .navlinks:hover {
   background-color: rgba(124, 105, 98, 1);
}

.navbar .navlinks span {
   margin: 0 auto;
}

.navbar div:last-of-type {
   margin: 0;
}


.navbar .navlogo {
  width: 0;
  margin: 0;
  -webkit-transition: width 200ms ease, margin 200ms ease, background-color .3s ease;
  -o-transition: width 200ms ease, margin 200ms ease, background-color .3s ease;
  transition: width 200ms ease, margin 200ms ease, background-color .3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(145, 123, 114);
  cursor: pointer;
  outline: none;
}

.navbar .navlogo:hover {
background-color: rgba(124, 105, 98, 1);
}

.navbar .navexpand {
   width: 110px;
   margin-right: 1px;
}

.navlogo .navlogoimg {
   width: 0;
   max-height: 38.19px;
   margin: 0 auto;
   -webkit-transition: width 200ms ease;
   -o-transition: width 200ms ease;
   transition: width 200ms ease;
}

.navlogo .imgexpand {
   width: 90px;
}

.intro {
   margin: 35px 0 0 0;
   padding-bottom: 5vw;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

}

.intro .introleft {
   width: 50%;
   padding-left: 14%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   color: #3a3a3a;
}

.intro .introleft .intropara {
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   transition: -webkit-transform .5s ease-in;
   -webkit-transition: -webkit-transform .5s ease-in;
}

.intropara div {
   background-color: rgba(255,255,255,.2);
   padding: .67em;
}

.intro .introleft p {
   font-size: 1.1vw;
   word-spacing: 0.2em;
   font-family: 'Lato', Helvetica;
   text-align: left;
   margin: 0;
}

.intro .introleft h1 {
   font-size: 2vw;
   color: #000;
   word-spacing: 0.2em;
   font-family: 'Lato', Helvetica;
   padding-bottom: 8px;
   margin: 0;
}

.introphoto h1 {
   position: absolute;
   top: 41%;
   left: 0;
   padding-left: 20%;
   text-align: center;
   width: 100%;
   font-family: 'Raleway', Helvetica;
   font-size: 1.4vw;
   background-color: rgba(0,0,0,0.8);
   color: #fff;
}

.introphoto h1:first-letter {
   font-size: 2.5vw;
   vertical-align: sub;
}

.intro .introright {
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
   width: 50%;
   padding: 0 2%;
}

.introphotoupper .introphoto {
   z-index: 10;
}

.introphotoupper, .introphotolower {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
   width: 100%;
}

.introphotospace {
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
   width: 20%;
   background-color: #444c42;
}

.introphoto {
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
   background-color: #444c42;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-shadow: -7px 5px 15px rgba(0,0,0,.9);
           box-shadow: -7px 5px 15px rgba(0,0,0,.9);
   position: relative;
   transition: -webkit-transform .5s ease-in;
   -webkit-transition: -webkit-transform .5s ease-in;
}

.floatdown {
   -ms-transform:translate(-30px,-30px);
       transform:translate(-30px,-30px);
   -webkit-transform:translate(-30px,-30px);
}

.floatup {
   -ms-transform:translate(30px,30px);
       transform:translate(30px,30px);
   -webkit-transform:translate(30px,30px);
}

.introphoto img {
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
   -ms-flex-item-align: center;
       align-self: center;
   width: 80%;
   max-height: 100%;
}

.introphotofoldleft, .introphotofoldright {
   width: 10%;
   max-width: 10%;
   transition: -webkit-transform .5s ease-in;
   -webkit-transition: -webkit-transform .5s ease-in;
}

.introphotofoldright {
   background: url('../images/introfoldright.svg') no-repeat;
   background-size: contain;
   background-position: bottom;
}

.introphotofoldleft {
   background: url('../images/introfoldleft.svg') no-repeat;
   background-size: contain;
   background-position: top;
}


.products {
   margin: 0 14%;

}

.products h1, .employees > h1, .contact > h1 {
   display: block;
   text-align: center;
   margin: 0 0 6px 0;
   font-family: 'Lato', Helvetica;
   font-size: 2.8vw;
}

.productblocks {
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   /*background: url(../images/pipe.svg) no-repeat;*/
   /*background-size: cover;*/
   background-color: rgba(255,255,255,0.3);
}

.productblocks a {
   width: 50%;
   -webkit-transition: background-color .3s ease;
   -o-transition: background-color .3s ease;
   transition: background-color .3s ease;
}

.productblocks a:hover {
   background-color: rgba(255,255,255,0.4);
}

.productblock {
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.productblock:nth-child(odd) {
}

.productblock:nth-child(odd) {
   padding-right: 10px;
}

.productblock:nth-child(even) {
   padding-left: 10px;
}

.producticon {
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
   -ms-flex-preferred-size: 0;
       flex-basis: 0;
   padding: 2%;
}

.producticon img {
   width: 100%;
   height: auto;
}

.productinfo {
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
   -ms-flex-preferred-size: 0;
       flex-basis: 0;
   padding: 2%;
   font-family: 'Lato', Helvetica;
}

.productinfo h2 {
   border-bottom: 1px solid #000;
   font-size: 1.4vw;
   margin: 10px 0;
}

.productinfo h3{
   font-size: 1.1vw;
   margin-top: 0;
}

.productinfo ul {
   font-size: 1vw;
}

.productinfo h3 span {
   font-weight: bold;
}

.productinfo ul {
   padding-left: 20px;
}

.employees {
   margin: 60px 0 0 0;
   width: 100%;

}

.employeeblocks {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin: 0 14%;
   margin-left: calc(14% - 76px);
   margin-right: calc(14% - 76px);
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
}

.employeeblockleft {
   width: 49%;
   margin-bottom: 30px;
   margin-top: 10px;
   background: url("../images/foldbackground.svg") no-repeat;
   background-position: left bottom;
}

.employeeblockright {
   width: 49%;
   margin-bottom: 30px;
   margin-top: 10px;
   background: url("../images/foldbackgroundright.svg") no-repeat;
   background-position: right bottom;
}


.employeeblockleft .employeeinner {
   width: calc(100% - 76px);
   margin-left: 76px;
   padding-bottom: 10px;
   background: url(../images/backgroundright.svg) no-repeat;
   background-position: right;
   background-size: contain;
   background-color: rgba(255, 255, 255, 0.4);
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-shadow: -4px 4px 10px rgba(0,0,0,.7);
           box-shadow: -4px 4px 10px rgba(0,0,0,.7);
}

.employeeblockright .employeeinner {
   width: calc(100% - 76px);
   margin-right: 76px;
   padding-bottom: 10px;
   background: url(../images/backgroundleft.svg) no-repeat;
   background-position: left;
   background-size: contain;
   background-color: rgba(255, 255, 255, 0.4);
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-shadow: 4px 4px 10px rgba(0,0,0,.7);
           box-shadow: 4px 4px 10px rgba(0,0,0,.7);
}

.employeeupper {
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.employeelower {
   height: 125px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   border: 1px solid #000;
   margin: 10px 10px 0 10px;
   flex-direction: column;
}

.employeeinfo {
   padding: 10px;
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
   font-family: 'Lato', Helvetica;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
}

.employeeinfo a {
   text-decoration: none;
   color: #000;
}

.employeeinfo h1 {
   font-size: 1.8vw;
   border-bottom: 1px solid #000;
}

.employeeinfo h2 {
   font-size: 1.1vw;
}

.employeeinfo h3 {
   font-size: 1vw;
}

.employeeinfo h3 a:hover {
   border-bottom: 1px solid #000;
}

.employeebio {
   margin: 20px;
   font-family: Helvetica;
   font-size: 1vw;
}

.employeeblockright .employeeinfo {
   text-align: right;
}

.employeeblockleft .employeeimg {
   width: 45%;
   height: auto;
   margin-top: -10px;
   margin-left: -64px;
   padding: 2%;
   background-color: #444c41;
   -webkit-box-shadow: -7px 5px 15px rgba(0,0,0,.9);
           box-shadow: -7px 5px 15px rgba(0,0,0,.9);
   text-align: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}

.employeeblockright .employeeimg {
   width: 45%;
   height: auto;
   margin-top: -10px;
   margin-right: -64px;
   padding: 2%;
   background-color: #444c41;
   -webkit-box-shadow: 7px 5px 15px rgba(0,0,0,.9);
           box-shadow: 7px 5px 15px rgba(0,0,0,.9);
   text-align: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}

.employeeimg img {
   display: block;
   max-width: 100%;
   max-height: 100%;
   height: auto;
   background: -webkit-gradient(linear,left top, left bottom,from(#8c8a8a),to(#e5e5e5));
   background: -webkit-linear-gradient(#8c8a8a,#e5e5e5);
   background: -o-linear-gradient(#8c8a8a,#e5e5e5);
   background: linear-gradient(#8c8a8a,#e5e5e5);
}

.hiddenlg {
   display: none;
}

.contact {
   margin-top: 30px;

}

.contactinner {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   margin: 20px 14% 55px 14%;
   background-color: rgba(255, 255, 255, 0.4);
}

.contactupper {
   width: 100%;
   height: 24vw;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.contactupperleft {
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -ms-flex-pack: distribute;
       justify-content: space-around;
   text-align: center;
   font-family: 'Lato', Helvetica;
   font-size: 1.2vw;
   padding-top: 3%;
   background: url(../images/paperairplane.svg) no-repeat;
   background-position: left;
   background-size: contain;
}

.contactupperleft div {
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
}

.contactupperleft h2 {
   font-size: 1.3vw;
   margin: 0 5% 10px 5%;
   border-bottom: 1px solid rgba(0,0,0,.5);
   text-align: left;
}

.contactupperleft a {
   border-bottom: 1px solid rgba(0,0,0,0);
}

.contactupperleft a:hover {
   border-bottom: 1px solid rgba(0,0,0,1);
}

.contactupperright {
   -webkit-box-flex: 2;
       -ms-flex-positive: 2;
           flex-grow: 2;
   height: 100%;
   padding: 1vw;
   background-color: #2e3f45;
   margin: -15px -30px 0 0;
   -webkit-box-shadow: 0px 5px 15px rgba(0,0,0,.9);
           box-shadow: 0px 5px 15px rgba(0,0,0,.9);
}

#map {
   height: 22vw;
}

.contactlower {
   height: 20vw;
   width: calc(100% + 60px);
   background-color: #2e3f45;
   -webkit-box-shadow: 0px 5px 15px rgba(0,0,0,.9);
           box-shadow: 0px 5px 15px rgba(0,0,0,.9);
   margin: 0 0 -30px -30px;
}

.contactlowerinner {
   height: 100%;
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   padding: 10px;
}

.contactlowerinner textarea {
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
   width: 100%;
   resize: none;
   font-size: 1vw;
   background-color: #c7c8c9;
   outline: none;
}

.contactlowerinner form {
   margin: 0 auto;
   margin-top: 10px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   width: 70%;
}

.contactlowerinner form input {
   -webkit-box-flex: 1;
       -ms-flex-positive: 1;
           flex-grow: 1;
   margin: 0 5px;
   font-size: 0.9vw;
}

.contactlowerinner form input[type="text"] {
   background-color: #c7c8c9;
   outline: none;
}

.copyright {
   width: 100%;
   text-align: center;
   font-size: 0.9vw;
}





@media only screen and (max-width: 992px) {

   .header, .products, .employeeblocks, .contactinner {
      margin-left: 2%;
      margin-right: 2%;
   }
   .navbarwrap {
      padding-left: 2%;
      padding-right: 2%;
   }
   .intro, .employees {
      margin-top: 25px;
   }
   .contact {
      margin-top: 0;
   }
   .contactlower, .contactupperright {
      margin: 0;
   }
   .contactlower {
      width: 100%;
      margin-top: 10px;
   }
   .intro .introleft {
      padding-left: 2%;
   }
   .introphoto img {
      height: 100%;
   }
   .headerinfo, .contactlowerinner textarea, .contactlowerinner form input {
      font-size: 1.3vw;
   }
   .intro .introleft p, .productinfo ul, .employeebio, .employeeinfo h3 {
      font-size: 1.4vw;
   }
   .employeeinfo h2, .productinfo h3, .contactupperleft, .navbar {
      font-size: 1.5vw;
   }
   .productinfo h2, .contactupperleft h2, .intro .introleft h1 {
      font-size: 1.7vw;
   }

}

@media only screen and (max-width: 767px) {
   .headerlogo {
      width: 100%;
      padding: 0;
   }
   .header {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
   }
   .headerinfo p {
      margin: 8px 0;
   }
   .headerinfo {
      padding: 4px 0;
   }
   .navbar .navlogo, .navbar .navlogoimg {
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
   }
   .navbar .navexpand {
      width: 80px;
   }
   .navlogo .imgexpand {
      width: 70px;
   }
   .navbar .navlogoimg{
      max-height: 29.703px;
   }
   .intro .introright {
      display: none;
   }
   .intro .introleft {
      width: 100%;
      padding: 0;
      margin: 0 2%;
   }
   .intro .intropara:first-of-type {
      margin: 0 0 10px 0;
   }
   .intro {
      margin: 30px 0 0 0;
   }
   .hiddenlg {
      display: block;
   }
   .hiddensm {
      display: none;
   }
   .employeeblockleft, .contactupperleft, .contactupperright {
      width: 100%;
   }
   .employeeblockleft {
      background: none;
      margin: 0px 0 15px 0;
   }
   .employeeblockleft .employeeimg {
      margin: 0;
   }
   .employeeblockleft .employeeinner {
      width: 100%;
      margin: 0;
   }
   .employeelower {
      height: auto;
   }
   .productblocks {
      background: none;
      background-color: rgba(255,255,255,0.4);
   }
   .productblocks a {
      width: 100%;
   }
   .productinfo {
      -webkit-box-flex: 2;
          -ms-flex-positive: 2;
              flex-grow: 2;
   }
   .contactupper {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      height: auto;
   }
   .contactupperleft {
      padding: 4% 0;
      background-position: center;
   }
   .contactinner {
      margin: 0 2% 10px 2%;
   }
   #map, .contactlower {
      height: 50vw;
   }
   .headerinfo, .contactlowerinner textarea, .contactlowerinner form input, .copyright, .employeeinfo h3, .navbar {
      font-size: 3vw;
   }
   .intro .introleft p, .productinfo ul, .employeebio {
      font-size: 3.1vw;
   }
   .employeeinfo h2, .productinfo h3, .contactupperleft {
      font-size: 3.2vw;
   }
   .productinfo h2, .contactupperleft h2, .intro .introleft h1, .employeeinfo h1 {
      font-size: 3.4vw;
   }
   .products h1, .employees > h1, .contact > h1 {
      font-size: 3.9vw;
   }
   .contactlowerinner form {
      width: 100%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
   }
   .contactlowerinner form input[type="text"] {
      width: 30%;
   }
   .contactlowerinner form input[type="submit"] {
      background-color: #fff;
      width: 20%;
   }
   .navbar, .employeeblockleft .employeeinner, .employeeblockleft .employeeimg, .contactupperright, .contactlower {
      -webkit-box-shadow: none;
              box-shadow: none;
   }
}
